<h1>Twitter Senitment Analyser</h1>

<div class= "ui input">
  <input type='text' id='twitterSearch' placeholder='Twitter Search'><br>
</div><br>

<div class= "ui input">
  <input type="text" id="searchNum" placeholder="number">
</div><br>

<form>
  <select class="ui fluid search dropdown" class="searchType" id="searchType">
    <option value="">Select Type Search:</option>
    <option value="recent">Most Recent Tweets</option>
    <option value="popular">Most Popular Tweets</option>
    <option value="mixed">Mixed Tweets</option>
  </select>
</form><br>

<div class= "ui input">
  <input type="text" placeholder="location">
</div><br>

<button class="ui basic button" id='search'>SEARCH</button><br>

<button class="ui basic button" id="saveSearch">SAVE SEARCH</button>

<div class="wordCounter">
</div>

<div class="d3chart1"></div>

<div class="searchHistory">
  <h2>Search history:</h2><br>
  <div>
    <ul class="termsLimit">
    </ul>
  </div>
</div>

<div class="thecharts">
  <canvas id="scoreChart" width="400" height="400"></canvas>
</div>

<div class='tweetFeed'>
  <p class='addTweets'></p>
</div>

<canvas id="sentimentChart" width="400" height="400"> </canvas>


<!--
<canvas id="scatterChart"  width="400" height="4000"></canvas>

<canvas id="wordChart" width="400" height="400"></canvas> -->
