
<h1>Twitter Senitment Analser</h1>


<input type='text' id='twitterSearch' placeholder='Twitter Search'><br>


<button id='search'>SEARCH</button><br>


<div class='addTweets'></div>


<canvas id="myChart" width="400" height="400"> </canvas>
