
<h1>Twitter Senitment Analser</h1>


<input type='text' id='twitterSearch' placeholder='Twitter Search'><br>


<button id='search'>SEARCH</button><br>

<section id="tweets">
  <% tweet.user.scree_name %> <% tweet.text %>


</section>

<div class='responded tweets'></div>

<canvas id="myChart" width="400" height="400"> </canvas>
