
<h1>Twitter Senitment Analser</h1>


<input type='text' id='twitterSearch' placeholder='Twitter Search'><br>


<button id='search'>SEARCH</button><br>

<!-- <div class="twitterResults">

  <ul id="appendResults">
    <% @tweet.each do |t| %>
    <li id='#{tweet.search}'>
      <%= link_to(@tweet, results_path(tweet), remote: true, :class => "get-tweet" %>
      <% end %>
    </li>
  </ul>

</div> -->

<div id="newSeach">
  <h4> <%= @search.username %> says <%= @search.text %> ></h4>
<div>

<div class='responded tweets'></div>

<canvas id="myChart" width="400" height="400"> </canvas>
