
<h1>My First Watson Search</h1>


<input type='text' id='clearbitsearch' placeholder='searh company name or email'><br>

<button id='cbsearch'> SEARCH</button><br>


<div id=clearbit>ClearBit results here</div><br>


<div id="watson search">Watson results here</div>


<canvas id="myChart" width="400" height="400"> </canvas>
