/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "semantic-ui";

body {
  text-align: center;
  font-family: 'Exo 2', sans-serif;
  background-color: rgba(134, 224, 167, 1);
  color: rgba(255, 255, 255, 1);
}

the_nav {
  background-color: rgba(61, 90, 128, 1);
}

.nav_login {
  text-align: right;
}

canvas {
  background-color: rgba(246, 247, 248, 0.6);
}
